APScheduler  
telethon  
cachetools  
certifi  
charset-normalizer  
click  
docopt  
fast-proxy-list  
idna  
Flask  
itsdangerous  
Jinja2  
MarkupSafe  
pipreqs  
pyTelegramBotAPI  
python-telegram-bot  
Pytz  
pytz-deprecation-shim  
requests  
six  
telebot  
tzdata  
tornado  
tzlocal  
Werkzeug  
yarg  
uuid  
user-agent  
urllib3  
pyperclip  
beautifulsoup4  
websocket-client  
autopep8  
pyrogram  
kvsqlite  
schedule  
psutil  
PyGithub  
psycopg2-binary  
PyMuPDF  
pdf2image  
pikepdf
phonenumbers
gunicorn